<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         testdox="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory phpVersion="7.4" phpVersionOperator="^">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
